# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=production_db
MYSQL_USER=pms_user
MYSQL_PASSWORD=pms_password

# RabbitMQ
RABBITMQ_DEFAULT_USER=pms_user
RABBITMQ_DEFAULT_PASS=pms_password

# Frontend
VITE_API_BASE_URL=http://localhost:8080/api